<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{users}" th:object="${user}"> </form>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <table class="formTable">
        <tbody>
        <tr>
            <td><label for="name"> NAME </label></td>
            <td><input type="text" th:field="*{name}" id="name"/></td>
        </tr>
        <tr>
            <td><label for="lastname"> Last Name </label></td>
            <td><input type="text" th:field="*{lastName}" id="lastname"/></td>
        </tr>
        <tr>
            <td><label for="email"> Email </label></td>
            <td><input type="text" th:field="*{email}" id="email"/></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Update User"/>
</form>

</body>
</html>